<mat-nav-list>
  <div class="profile-card">
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Sound Brand">
    <div class="header">
      <h2>Minmidi</h2>
      <h4>{{authservice.currentUserName}}</h4>
    </div>
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Trang</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin">
    <mat-icon>home</mat-icon>
    Trang quản trị
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/categories">
    <mat-icon>category</mat-icon>
    Danh mục sách
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/japanese">
    <mat-icon>book</mat-icon>
    Truyện Nhật Bản
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/vietnamese">
    <mat-icon>book</mat-icon>
    Truyện Việt Nam
  </a>
</mat-nav-list>
