<div class="header">
  <div class="header-search">
      <form action="" method="GET" class="form-inline mb-2" role="form">
          <div class="form-group mr-2">
              <input type="text" class="form-control" name="search" placeholder="nhập tìm kiếm">
          </div>
          <button type="text" class="btn btn-primary mr-2" style=" width: 44px; height: 40px">
          <mat-icon>search</mat-icon>
      </button>
      <button class="btn btn-primary" (click)="open(content)">Thêm mới</button>

      </form>

      <mat-form-field>
          <mat-label>Font size</mat-label>
          <mat-select #fontSize value="16px" (selectionChange)="triggerResize()">
              <mat-option value="10px">10px</mat-option>
              <mat-option value="12px">12px</mat-option>
              <mat-option value="14px">14px</mat-option>
              <mat-option value="16px">16px</mat-option>
              <mat-option value="18px">18px</mat-option>
              <mat-option value="20px">20px</mat-option>
          </mat-select>
      </mat-form-field>
  </div>
</div>
<table class="table" [style.fontSize]="fontSize.value">
  <thead>
      <tr>
          <th scope="col">Mã danh mục</th>
          <th scope="col">Tên danh mục</th>
          <th scope="col">Hình ảnh</th>
          <th scope="col">Tác giả</th>
          <th scope="col">Ghi chú</th>
          <th scope="col">Sửa</th>
          <th scope="col">Xoá</th>
      </tr>
  </thead>
  <tbody *ngFor="let item of japanese">
      <tr *ngIf="!item.idedit; else elseBlock">
          <td>{{ item.number}}</td>
          <td>{{ item.name}}</td>
          <td>
            <img [src]="item.images" alt="" style="width: 150px; height: 200px;">
          </td>
          <td>{{ item.athor}}</td>
          <td>{{ item.detail}}</td>
          <td>
            <button class="edit-cate" (click)="EditRecord(item)">
              <mat-icon class="edit-cate-icon">edit</mat-icon>
            </button>
          </td>

          <td>
            <button class="delete-cate" (click)="Deletecategory(item.id)">
              <mat-icon class="delete-cate-icon">delete</mat-icon>
            </button>
          </td>
      </tr>

      <ng-template #elseBlock>
        <tr>
          <td>
            <input type="number" class="form-control" [(ngModel)]="item.editnumber" required pattern="[0-9]{4,10}" #number="ngModel">
            <div *ngIf="number.invalid && (number.dirty || number.touched)"
                class="alert alert-danger mt-2">
              <div *ngIf="number.errors.required">
                Mã danh mục không được để trống.
              </div>
              <div *ngIf="number.errors.pattern">
                Mã danh mục có ít nhất 4 chữ số và lớn nhất là 10 chữ số.
              </div>
            </div>
          </td>
          <td>
            <input type="text" class="form-control"  [(ngModel)]="item.editname" required minlength="5" maxlength="50" #name="ngModel">
            <div *ngIf="name.invalid && (name.dirty || name.touched)"
                class="alert alert-danger mt-2">
              <div *ngIf="name.errors.required">
                Tên danh mục không được để trống.
              </div>
              <div *ngIf="name.errors.minlength">
                Tên danh mục phải lớn hơn 4 ký tự và lớn nhất là 50 ký tự.
              </div>
            </div>
          </td>
          <td>
            <input type="text" class="form-control"  [(ngModel)]="item.editimage" required minlength="5" maxlength="300" #images="ngModel">
            <div *ngIf="images.invalid && (images.dirty || images.touched)"
                class="alert alert-danger mt-2">
              <div *ngIf="images.errors.required">
               Đường dẫn hình ảnh không được để trống.
              </div>
              <div *ngIf="images.errors.minlength">
                Đường dẫn hình ảnh phải lớn hơn 4 ký tự và lớn nhất là 50 ký tự.
              </div>
            </div>
          </td>
          <td>
            <input type="text" class="form-control"  [(ngModel)]="item.editathor" required minlength="5" maxlength="50" #athor="ngModel">
            <div *ngIf="athor.invalid && (athor.dirty || athor.touched)"
                class="alert alert-danger mt-2">
              <div *ngIf="athor.errors.required">
                Tác giả không được để trống.
              </div>
              <div *ngIf="athor.errors.minlength">
                Tác giả phải lớn hơn 4 ký tự và lớn nhất là 50 ký tự.
              </div>
            </div>
          </td>
          <td>
            <input type="text" class="form-control"  [(ngModel)]="item.editdetail" required minlength="5" maxlength="200" #detail="ngModel">
            <div *ngIf="detail.invalid && (detail.dirty || detail.touched)"
                class="alert alert-danger mt-2">
              <div *ngIf="detail.errors.required">
               Ghi chú không được để trống.
              </div>
              <div *ngIf="detail.errors.minlength">
              Chi chú phải lớn hơn 5 ký tự và lớn nhất là 200 ký tự.
              </div>
            </div>
          </td>
          <td>
            <button class="check-edit" (click)="Updaterecord(item)" [disabled]="!item.editnumber || !item.editname || !item.editdetail">
              <mat-icon class="check-edit-icon">check_circle</mat-icon>
            </button>
          </td>
          <td>
            <button  class="cancel-edit" (click)="item.idedit = false">
              <mat-icon class="cancel-edit-icon">cancel</mat-icon>
            </button>
          </td>
      </tr>
      </ng-template>
  </tbody>
</table>


<!--ADD FORM MODAL-->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">DANH MỤC</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div *ngIf="message">
    <ngb-alert type="success" (closed)="close()">{{ message }}</ngb-alert>
  </div>

  <div class="modal-body">
    <form>
      <!--number category-->
      <div class="form-group">
        <label for="number">Mã số sách</label>
        <div class="input-group">
          <input type="number" class="form-control" [(ngModel)]="japaneseNumber" placeholder="nhập mã số sách" name="number" id="number" required pattern="[0-9]{4,10}" #number="ngModel">
        </div>

        <div *ngIf="number.invalid && (number.dirty || number.touched)"
            class="alert alert-danger mt-2">
          <div *ngIf="number.errors.required">
            Mã danh mục không được để trống.
          </div>
          <div *ngIf="number.errors.pattern">
            Mã danh mục có ít nhất 4 chữ số và lớn nhất là 10 chữ số.
          </div>
        </div>

      </div>
      <!--end number category-->

      <!--name category-->
      <div class="form-group">
        <label for="name">Tên sách</label>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="japaneseName" placeholder="nhập tên sách" name="name" id="name"  required minlength="5" maxlength="50" #name="ngModel">
        </div>
        <div *ngIf="name.invalid && (name.dirty || name.touched)"
            class="alert alert-danger mt-2">
          <div *ngIf="name.errors.required">
            Tên danh mục không được để trống.
          </div>
          <div *ngIf="name.errors.minlength">
            Tên danh mục phải lớn hơn 4 ký tự và lớn nhất là 50 ký tự.
          </div>
        </div>
      </div>
      <!--end name category-->

      <!--Images Url-->
      <div class="form-group">
        <label for="name">Hình ảnh</label>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="japaneseImageUrl" placeholder="nhập đường dẫn ảnh" name="images" id="images"  required minlength="5" maxlength="300"#images="ngModel">
        </div>
        <div *ngIf="images.invalid && (images.dirty || images.touched)"
            class="alert alert-danger mt-2">
          <div *ngIf="images.errors.required">
            Hình ảnh không được để trống.
          </div>
          <div *ngIf="images.errors.minlength">
            Hình ảnh phải lớn hơn 4 ký tự và lớn nhất là 50 ký tự.
          </div>
        </div>
      </div>
      <!--Images Url-->

      <!--name athor-->
      <div class="form-group">
        <label for="name">Tác giả</label>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="japaneseAthor" placeholder="nhập tác giả" name="name" id="name"  required minlength="5" maxlength="50" #name="ngModel">
        </div>
        <div *ngIf="name.invalid && (name.dirty || name.touched)"
            class="alert alert-danger mt-2">
          <div *ngIf="name.errors.required">
            Tên tác giả không được để trống.
          </div>
          <div *ngIf="name.errors.minlength">
            Tên tác giả phải lớn hơn 4 ký tự và lớn nhất là 50 ký tự.
          </div>
        </div>
      </div>
      <!--end name athor-->

      <!--detail category-->
      <div class="form-group">
        <label for="name">Ghi chú</label>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="japaneseDetail" placeholder="nhập ghi chú" name="detail" id="detail" required minlength="5" maxlength="200" #detail="ngModel">
        </div>
        <div *ngIf="detail.invalid && (detail.dirty || detail.touched)"
            class="alert alert-danger mt-2">
          <div *ngIf="detail.errors.required">
           Ghi chú không được để trống.
          </div>
          <div *ngIf="detail.errors.minlength">
           Ghi chú phải lớn hơn 5 ký tự và lớn nhất là 200 ký tự.
          </div>
        </div>
      </div>
      <!--end detail category-->
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="createRecord()" [disabled]="!japaneseNumber || !japaneseName || !japaneseDetail|| !japaneseAthor || !japaneseImageUrl">Thêm</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Xong</button>
  </div>

</ng-template>

<!--END ADD FORM MODAL-->
