<div class="header">
  <div class="header-search">
      <form action="" method="GET" class="form-inline mb-2" role="form">
          <div class="form-group mr-2">
              <input type="text" class="form-control" name="search" placeholder="nhập tìm kiếm">
          </div>
          <button type="submit" class="btn btn-primary mr-2" style=" width: 44px; height: 40px">
        <mat-icon>search</mat-icon>
    </button>
          <a href="" class="btn btn-success"> thêm mới</a>
      </form>

      <mat-form-field>
          <mat-label>Font size</mat-label>
          <mat-select #fontSize value="16px" (selectionChange)="triggerResize()">
              <mat-option value="10px">10px</mat-option>
              <mat-option value="12px">12px</mat-option>
              <mat-option value="14px">14px</mat-option>
              <mat-option value="16px">16px</mat-option>
              <mat-option value="18px">18px</mat-option>
              <mat-option value="20px">20px</mat-option>
          </mat-select>
      </mat-form-field>
  </div>
</div>

<table class="table" [style.fontSize]="fontSize.value">
  <thead>
      <tr>
          <th scope="col">ID</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
          <th scope="col">Sửa</th>
          <th scope="col">Xoá</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let hero of heros">
          <th scope="row">1</th>
          <td>{{ hero.first}}</td>
          <td>{{ hero.last}}</td>
          <td>{{ hero.handle}}</td>
          <td>
              <a href="#">
                  <mat-icon>edit</mat-icon>
              </a>
          </td>

          <td>
              <a href="#">
                  <mat-icon>delete</mat-icon>
              </a>
          </td>
      </tr>
  </tbody>
</table>
